$light-purple: #9E38B0;
$purple: #6844B7;
$white: #FFFFFF;
$grey: #5C5C5C;
$font-stack: "Helvetica", Arial, sans-serif;

body {
	margin: 0;
	padding: 0;

	font-family: $font-stack;
}

.accordion {
	width: 100%;
	max-width: 640px;
	height: auto;

	margin: 0 auto;

	&__section {
		width: 100%;
		margin-bottom: 5px;

		border: 1px solid #ccc;

		&.selected {
			.accordion__header {
				background-color: $purple;
				border-bottom: 4px solid #4C3185;

				img {
					transform: scale(1);
				}
			}
			
			.accordion__content {
				display: block;
			}
		}

		.accordion__header {
			background-color: $light-purple;
			display: block;
			padding: 25px 15px;
			border-bottom: 4px solid #6F277D;
			cursor: pointer;
	
			h3 {
				color: $white;
				margin: 0;
				float: left;

				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			img {
				width: 18px;
				float: right;
				transform: scaleY(-1);

				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
	
		.accordion__content {
			display: none;
			padding: 20px 15px;

			p {
				color: $grey;
				margin: 0;
			}
		}
	}
}

.clear { clear: both; }